body {
  margin: 0px;
  box-sizing: border-box;
  background-color: #e9e3c8;
}

.wrapper {
  display: grid;
  grid-template-columns: 18% 60% 18%;
  grid-template-rows: 0.05fr 1fr;  
  margin: 0% 10%;
}

.left-column-banner {
  grid-column-start: 1;
  grid-column-end: 2;
}

.left-banner {
  width: 100%;
  height: 100%;
}

.middle-column-banner {
  grid-column-start: 2;
  grid-column-end: 3;
}

.middle-banner {
  width: 100%;
  height: 100%;
}
.right-column-banner {
  grid-column-start: 3;
  grid-column-end: 4;
}

.right-banner {
  width: 100%;
  height: 100%;
}

.left-panel {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(assets/floral-frost.jpg);
  background-repeat: repeat;

  text-align: center;
}

.five-precepts {
  background-color: #FFFFFF;

  justify-content: center;
  border: 8px solid #C9D215;
  border-style: ridge;
}

.master {
  display: flex;
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif; 
  font-weight: bold; 
  font-size: 14px; 
  text-align: center; color: #CC6600;
  line-height:25px;

  width: 45%;
  margin: auto;
}

.dalai {
  display: flex;
  flex-direction: column;

  font-family: 'Times New Roman', Times, serif; 
  font-weight: bold; 
  font-size: 14px; 
  text-align: center; color: #CC6600;
  line-height:25px;

  width: 65%;
  margin: auto;
}

.content {
  min-height: 100vh;
  background-color: #FFFFFF;
  text-align: center;
}

.content-text {
  margin: 5% 0;
}

.locations {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
  background-image: url(assets/floral-frost.jpg);
  background-repeat: repeat;

  font-size: 1.2rem;
  text-align: center;
  color: blue;
}

.location-title {
  color: red;
  font-weight: bold;
}

.tele-contact {
  color: red;
  font-weight: bold;
}

