body {
  margin: 0px;
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  gap: 5px;   
  grid-template-rows: 25% 75%;
  margin: 20px;
}

.wrapper>div {
  border: 2px solid black;
  background-color: blanchedalmond;
}

.one {
  grid-column-start: 1;
  grid-column-end: 2;
}

.left-banner {
  width: 100%;
  height: 100%;
}

.two {
  grid-column-start: 2;
  grid-column-end: 3;
}

.middle-banner {
  width: 100%;
  height: 100%;
}

.three {
  grid-column-start: 3;
  grid-column-end: 4;
}

.right-banner {
  width: 100%;
  height: 100%;
}

.teachers {
  display: flex;
  flex-direction: column;
  background-image: url(assets/floral-frost.jpg);
  
  text-align: center;
}

.five-precepts {
  background-color: white;

  margin: auto;
  padding: 20px 20px 20px 20px;
  justify-content: center;
  border: 8px solid #C9D215;
  border-style: ridge;
}

.master {
  display: flex;
  flex-direction: column;

  width: 150px;
  margin: auto;
  color: red;
}

.dalai {
  display: flex;
  flex-direction: column;

  width: 70%;
  margin: auto;
  color: red;
}

.locations {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;


  font-size: 1.2rem;
  text-align: center;
  color: blue;
}

.location-title {
  color: red;
  font-weight: bold;
}

.tele-contact {
  color: red;
  font-weight: bold;
}

