body {
  margin: 0px;
  box-sizing: border-box;
  background-color: #e9e3c8;
}

.wrapper {
  display: grid;
  grid-template-columns: 18% 60% 18%;
  grid-template-rows: 0.05fr 1fr;  
  margin: 0% 10%;
}

.one {
  grid-column-start: 1;
  grid-column-end: 2;
}

.left-banner {
  width: 100%;
  height: 100%;
}

.two {
  grid-column-start: 2;
  grid-column-end: 3;
}

.middle-banner {
  width: 100%;
  height: 100%;
}

.three {
  grid-column-start: 3;
  grid-column-end: 4;
}

.right-banner {
  width: 100%;
  height: 100%;
}

.teachers {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(assets/floral-frost.jpg);
  background-repeat: repeat;

  text-align: center;
}

.five-precepts {
  background-color: #FFFFFF;

  margin: auto;
  padding: 20px 20px 20px 20px;
  justify-content: center;
  border: 8px solid #C9D215;
  border-style: ridge;
}

.master {
  display: flex;
  flex-direction: column;

  width: 150px;
  margin: auto;
  color: red;
}

.dalai {
  display: flex;
  flex-direction: column;

  width: 70%;
  margin: auto;
  color: red;
}

.content {
  min-height: 100vh;
  background-color: #FFFFFF;
  text-align: center;
}

.content-text {
  margin: 5% 0;
}

.locations {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
  background-image: url(assets/floral-frost.jpg);
  background-repeat: repeat;

  font-size: 1.2rem;
  text-align: center;
  color: blue;
}

.location-title {
  color: red;
  font-weight: bold;
}

.tele-contact {
  color: red;
  font-weight: bold;
}

